table {
    text-align: center;
    margin: auto;
    max-width:1080px;
    width:100%;
}

a {
    color: cornflowerblue;
}

a:visited{
    color:#315dac;
}

td{
    border-top:dotted;
    border-top-color:#252526;
}

#playerProfile {
    text-align: center;
    margin: auto;
    max-width: 1080px;
    width: 100%;
}
.categoryButton{
    width:15%;
    height:2em;
}

td{
    width:10%;
}

.summary{
    width:10%;
}